body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .table{
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    width:80vw;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    
        .table-header{
        padding-bottom: 15px;
        background: #435d7d;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0; 
        }
        .table-nav{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        .table-btn{
            font-family: 'Varela Round', sans-serif;
            color: #fff;
            float: right;
            font-size: 13px;
            border: none;
            min-width: 200px;
            height: 40px;
            line-height: 20px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
            background-color: rgb(106, 189, 106);
            span{
                margin-left: 20px;
            }
        }
        }
    }
}
    
