*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .container {
        background: #fff;
        margin: 25px 0 0 0;
        border-radius: 3px;
        width:80vw;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        
        .container-header{
        width: 100%;
        background: #435d7d;
        color: #fff;
        padding: 20px;
        border-radius: 3px 3px 0 0; 
        display:flex;
        justify-content: space-between;

            h2 {
                font-weight: normal;
                margin-top: 7px;
                span{
                    font-weight: bold;
                }
            }
        }
            
            
        .container-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Varela Round', sans-serif;
            color: #fff;
            font-size: 13px;
            border: none;
            width: 200px;
            height: 40px;
            border-radius: 2px;
            border: none;
            outline: none;
            margin-left: 10px;
            background-color: rgb(106, 189, 106);
            p{
                margin: 0 0 0 10px;
            }
        }
            
    }
        main{
            font-size: 15px;
            margin: 30px 20px;
            .main-form{
                display: flex;
                justify-content: flex-end;    
                input{
                width: 340px;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                color: #666666;
                background-color: #fff;
                border: 1px solid rgb(189, 188, 188);
                border-radius: 4px;
                &:focus{
                    outline: none;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
                }
                
                }
            }
            .main-table{
                width: 100%;
                margin: 30px 0 20px 0;
                border-collapse: collapse;
                thead tr th{
                    padding: 0 0 20px 0;
                }
                #table-body{
                    border-top: 1px solid #8d8d8d; 
                }

            }          
        }


}
    
