* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Varela Round", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative; }
  body .background-modal,
  body .background-modal2 {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100vw;
    height: 100%;
    /* 100vh */
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all 5s linear; }
  body .container {
    background: #fff;
    margin: 25px 0 0 0;
    border-radius: 3px;
    width: 83vw;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
    body .container .container-header {
      width: 100%;
      background: #435d7d;
      color: #fff;
      padding: 15px 30px;
      border-radius: 3px 3px 0 0;
      display: flex;
      justify-content: space-between; }
      body .container .container-header h2 {
        font-weight: normal;
        margin-top: 7px; }
        body .container .container-header h2 span {
          font-weight: bold; }
    body .container .container-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Varela Round", sans-serif;
      color: #fff;
      font-size: 13px;
      border: none;
      width: 180px;
      height: 35px;
      border-radius: 2px;
      border: none;
      outline: none;
      background-color: #5cb85c;
      cursor: pointer; }
      body .container .container-btn p {
        margin: 0 0 0 10px; }
    body .container main {
      font-size: 13px;
      margin: 30px 20px; }
      body .container main .main-form {
        display: flex;
        justify-content: flex-end; }
        body .container main .main-form input {
          width: 340px;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          color: #666666;
          background-color: #fff;
          border: 1px solid #bdbcbc;
          border-radius: 4px; }
          body .container main .main-form input:focus {
            outline: none;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
      body .container main .main-table {
        width: 100%;
        margin: 15px 0 20px 0;
        border-collapse: collapse;
        vertical-align: middle; }
        body .container main .main-table tr {
          transition: opacity 1s ease-out,transform 1s linear;
          will-change: opacity; }
        body .container main .main-table .faded-out {
          opacity: 0;
          transform: translateX(-50vw); }
        body .container main .main-table th {
          font-size: 14px;
          font-weight: 700; }
        body .container main .main-table td, body .container main .main-table th {
          padding: 12px 5px;
          vertical-align: middle;
          text-align: left; }
        body .container main .main-table #table-body {
          border-top: 2px solid #e0e0e0; }
        body .container main .main-table tbody > tr:hover {
          background-color: #f5f5f5; }
  body .modal,
  body #edit-modal {
    font-family: "Varela Round", sans-serif;
    background-color: #fff;
    flex-direction: column;
    color: #566787;
    width: 400px;
    margin: 25px 10px 10px 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: -1000px;
    right: 50;
    z-index: 2;
    transition: all 1s; }
    body .modal .modal-header,
    body #edit-modal .modal-header {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px 20px 30px;
      border-bottom: 1px solid #e5e5e5; }
      body .modal .modal-header h4,
      body #edit-modal .modal-header h4 {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        color: #566787; }
      body .modal .modal-header i,
      body #edit-modal .modal-header i {
        font-size: 17px;
        color: #ccc;
        cursor: pointer; }
        body .modal .modal-header i:hover,
        body #edit-modal .modal-header i:hover {
          color: #616161; }
    body .modal .modal-form label,
    body #edit-modal .modal-form label {
      display: flex;
      flex-direction: column;
      padding: 20px 30px 0 30px;
      font-size: 13px; }
      body .modal .modal-form label input,
      body #edit-modal .modal-form label input {
        padding: 7px 5px;
        margin: 5px 0 0 0;
        border: 1px solid #cccccc; }
        body .modal .modal-form label input:focus,
        body #edit-modal .modal-form label input:focus {
          outline: none; }
      body .modal .modal-form label textarea,
      body #edit-modal .modal-form label textarea {
        padding: 7px 5px;
        margin: 5px 0 0 0;
        border: 1px solid #cccccc;
        height: 34px; }
        body .modal .modal-form label textarea:focus,
        body #edit-modal .modal-form label textarea:focus {
          outline: none; }
    body .modal .modal-footer,
    body #edit-modal .modal-footer {
      background-color: #ecf0f1;
      padding: 20px 40px;
      display: flex;
      justify-content: flex-end;
      margin: 40px 0 0 0; }
      body .modal .modal-footer button,
      body #edit-modal .modal-footer button {
        margin: 0 0 0 10px;
        padding: 8px 14px;
        width: 100px;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        font-size: 14px; }
        body .modal .modal-footer button:focus,
        body #edit-modal .modal-footer button:focus {
          outline: none; }
      body .modal .modal-footer .btn-cancel,
      body #edit-modal .modal-footer .btn-cancel {
        border: 1px solid #ccc;
        color: #333;
        background-color: #fff; }
        body .modal .modal-footer .btn-cancel:hover,
        body #edit-modal .modal-footer .btn-cancel:hover {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad; }
      body .modal .modal-footer .btn-add,
      body #edit-modal .modal-footer .btn-add {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: #fff; }
        body .modal .modal-footer .btn-add:hover,
        body #edit-modal .modal-footer .btn-add:hover {
          background-color: #449d44;
          border-color: #398439; }
      body .modal .modal-footer .btn-edit,
      body #edit-modal .modal-footer .btn-edit {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: #fff; }
        body .modal .modal-footer .btn-edit:hover,
        body #edit-modal .modal-footer .btn-edit:hover {
          background-color: #449d44;
          border-color: #398439; }
      body .modal .modal-footer .btn-delete,
      body #edit-modal .modal-footer .btn-delete {
        background-color: #c13411;
        border-color: #c13411;
        color: #fff; }
        body .modal .modal-footer .btn-delete:hover,
        body #edit-modal .modal-footer .btn-delete:hover {
          background-color: #831311;
          border-color: #831311; }
  body .tablerow {
    border-bottom: 0.5px solid #e4e4e4;
    height: 35px; }
    body .tablerow td .check {
      margin-left: 20px; }
    body .tablerow .edit {
      background-color: #5cb85c;
      border-color: #4cae4c;
      color: #fff;
      border: none;
      padding: 4px;
      border-radius: 2px;
      margin-right: 10px;
      cursor: pointer; }
      body .tablerow .edit:hover {
        background-color: #449d44;
        border-color: #398439; }
    body .tablerow .delete {
      border-radius: 2px;
      background-color: #c13411;
      border-color: #c13411;
      color: #fff;
      border: none;
      padding: 4px;
      cursor: pointer; }
      body .tablerow .delete:hover {
        background-color: #831311;
        border-color: #831311; }
